{% load static %}
<!-- Start Footer Area  -->
<footer class="axil-footer-area footer-style-3 footer-dark">
  <!-- Start Footer Top Area  -->
  <div class="footer-top">
      <div class="container">
          <div class="footer-widget-warp">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="axil-footer-widget footer-widget-newsletter">
                          <h4 class="widget-title">Stay Up To Date</h4>
                          <p>Subscribe to our newsletter and get <span>20% discount</span> offer in your first order</p>
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Email">
                              <button class="submit-btn" type="button">SUBSCRIBE</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="axil-footer-widget widget-flex">
                          <h6 class="widget-title">Shop</h6>
                          <div class="inner">
                              <ul>
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="#">Delivery</a></li>
                                  <li><a href="about-us.html">Information</a></li>
                                  <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                  <li><a href="terms-of-service.html">Terms & Conditions</a></li>
                                  <li><a href="contact.html">Support Center</a></li>
                                  <li><a href="contact.html">Contact Us</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="axil-footer-widget widget-flex">
                          <h6 class="widget-title">Company</h6>
                          <div class="inner">
                              <ul>
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="#">Delivery</a></li>
                                  <li><a href="about-us.html">Information</a></li>
                                  <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                  <li><a href="terms-of-service.html">Terms & Conditions</a></li>
                                  <li><a href="contact.html">Support Center</a></li>
                                  <li><a href="contact.html">Contact Us</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-widget-warp">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <div class="axil-footer-widget widget-flex">
                          <h6 class="widget-title">About</h6>
                          <div class="inner">
                              <ul>
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="#">Delivery</a></li>
                                  <li><a href="about-us.html">Information</a></li>
                                  <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                  <li><a href="terms-of-service.html">Terms & Conditions</a></li>
                                  <li><a href="contact.html">Support Center</a></li>
                                  <li><a href="contact.html">Contact Us</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="axil-footer-widget widget-flex">
                          <h6 class="widget-title">Deal</h6>
                          <div class="inner">
                              <ul>
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="#">Delivery</a></li>
                                  <li><a href="about-us.html">Information</a></li>
                                  <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                  <li><a href="terms-of-service.html">Terms & Conditions</a></li>
                                  <li><a href="contact.html">Support Center</a></li>
                                  <li><a href="contact.html">Contact Us</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="axil-footer-widget widget-flex">
                          <h6 class="widget-title">Deal</h6>
                          <div class="inner">
                              <ul>
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="#">Delivery</a></li>
                                  <li><a href="about-us.html">Information</a></li>
                                  <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                  <li><a href="terms-of-service.html">Terms & Conditions</a></li>
                                  <li><a href="contact.html">Support Center</a></li>
                                  <li><a href="contact.html">Contact Us</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Footer Top Area  -->
  <div class="footer-middle">
      <div class="container">
          <div class="row">
              <div class="col-lg-8">
                  <div class="payment-method">
                      <h6 class="title">Accept <br> For</h6>
                      <ul class="payment-icons">
                          <li><img src="assets/images/icons/cart/cart-1.png" alt="paypal cart"></li>
                          <li><img src="assets/images/icons/cart/cart-2.png" alt="paypal cart"></li>
                          <li><img src="assets/images/icons/cart/cart-3.png" alt="paypal cart"></li>
                          <li><img src="assets/images/icons/cart/cart-4.png" alt="paypal cart"></li>
                          <li><img src="assets/images/icons/cart/cart-5.png" alt="paypal cart"></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="payment-method footer-social-link">
                      <h6 class="title">Social <br> Network</h6>
                      <ul class="social-link">
                          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Start Copyright Area  -->
  <div class="copyright-area copyright-default">
      <div class="container">
          <div class="copyright-left d-flex flex-wrap justify-content-center">
              <ul class="quick-link">
                  <li><a href="privacy-policy.html">Privacy Policy</a></li>
                  <li><a href="terms-of-service.html">Terms of Service</a></li>
              </ul>
              <ul class="quick-link">
                  <li>© 2023. All rights reserved by <a target="_blank" href="https://axilthemes.com/">Axilthemes</a>.</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- End Copyright Area  -->
</footer>
<!-- End Footer Area  -->

<div class="cart-dropdown" id="cart-dropdown">
  <div class="cart-content-wrap">
      <div class="cart-header">
          <h2 class="header-title">Cart review</h2>
          <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
      </div>
      <div class="cart-body">
          <ul class="cart-item-list">
              <li class="cart-item">
                  <div class="item-img">
                      <a href="single-product.html"><img src="assets/images/product/electric/product-01.png" alt="Commodo Blown Lamp"></a>
                      <button class="close-btn"><i class="fas fa-times"></i></button>
                  </div>
                  <div class="item-content">
                      <div class="product-rating">
                          <span class="icon">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
                          <span class="rating-number">(64)</span>
                      </div>
                      <h3 class="item-title"><a href="single-product-3.html">Wireless PS Handler</a></h3>
                      <div class="item-price"><span class="currency-symbol">$</span>155.00</div>
                      <div class="pro-qty item-quantity">
                          <input type="number" class="quantity-input" value="15">
                      </div>
                  </div>
              </li>
              <li class="cart-item">
                  <div class="item-img">
                      <a href="single-product-2.html"><img src="assets/images/product/electric/product-02.png" alt="Commodo Blown Lamp"></a>
                      <button class="close-btn"><i class="fas fa-times"></i></button>
                  </div>
                  <div class="item-content">
                      <div class="product-rating">
                          <span class="icon">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
                          <span class="rating-number">(4)</span>
                      </div>
                      <h3 class="item-title"><a href="single-product-2.html">Gradient Light Keyboard</a></h3>
                      <div class="item-price"><span class="currency-symbol">$</span>255.00</div>
                      <div class="pro-qty item-quantity">
                          <input type="number" class="quantity-input" value="5">
                      </div>
                  </div>
              </li>
              <li class="cart-item">
                  <div class="item-img">
                      <a href="single-product-3.html"><img src="assets/images/product/electric/product-03.png" alt="Commodo Blown Lamp"></a>
                      <button class="close-btn"><i class="fas fa-times"></i></button>
                  </div>
                  <div class="item-content">
                      <div class="product-rating">
                          <span class="icon">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </span>
                          <span class="rating-number">(6)</span>
                      </div>
                      <h3 class="item-title"><a href="single-product.html">HD CC Camera</a></h3>
                      <div class="item-price"><span class="currency-symbol">$</span>200.00</div>
                      <div class="pro-qty item-quantity">
                          <input type="number" class="quantity-input" value="100">
                      </div>
                  </div>
              </li>
          </ul>
      </div>
      <div class="cart-footer">
          <h3 class="cart-subtotal">
              <span class="subtotal-title">Subtotal:</span>
              <span class="subtotal-amount">$610.00</span>
          </h3>
          <div class="group-btn">
              <a href="cart.html" class="axil-btn btn-bg-primary viewcart-btn">View Cart</a>
              <a href="checkout.html" class="axil-btn btn-bg-secondary checkout-btn">Checkout</a>
          </div>
      </div>
  </div>
</div>


<!-- JS
============================================ -->
<script src="{% static 'assets/js/vendor/modernizr.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/slick.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/js.cookie.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery.ui.touch-punch.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/sal.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/counterup.js' %}"></script>
<script src="{% static 'assets/js/vendor/waypoints.min.js' %}"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>
</html>