{% include "header.html" %}
<main class="main-wrapper">
  <!-- Start Categorie Area  -->
  <div class="bg-color-white axil-section-gapcommon">
    <div class="container">
      <div class="slider-section-title section-title-border">
        <h2 class="title">Ангилал</h2>
      </div>
      <div
        class="categrie-product-activation-4 slick-layout-wrapper--15 axil-slick-angle angle-top-slide"
      >
        <div class="slick-single-layout">
          <div class="row row-cols-lg-5 row-cols-sm-3 row-cols-2">
            {% for cat in categories %}
            <div class="col">
              <div class="categrie-product categrie-product-4">
                <a href="/category/{{ cat.id }}" class="cate-thumb">
                  <img src="{{cat.image}}" alt="{{ cat.name }}" />
                  <h5 class="cat-title">{{ cat.name }}</h5>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Categorie Area  -->

  <!-- Start Expolre Product Area  -->
  <div class="axil-product-area bg-color-white section-gap-80-35">
    <div class="container">
      <div class="section-title-border">
        <h2 class="title">Бүтээгдэхүүн</h2>
        <div class="view-btn"><a href="shop.html">Бүгдийг харах</a></div>
      </div>
      <div class="row">
        {% for prod in products %}
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
          <div class="axil-product product-style-eight">
            <div class="thumbnail">
              <a href="/product/{{prod.id}}">
                {% with prod.product_images_set.first as first_image %}
                <img
                  loading="lazy"
                  class="main-img"
                  src="{{ first_image.image.url }}"
                  alt="Product Images"
                />
                {% endwith %}
              </a>
            </div>
            <div class="product-content">
              <div class="inner">
                <h5 class="title">
                  <a href="/product/{{prod.id}}">{{ prod.product_name }}</a>
                </h5>
                <div class="product-price-variant">
                  {% if prod.price != prod.sale %}
                  <span class="price old-price">{{ prod.price }}</span>
                  {% endif %}
                  <span class="price current-price">{{ prod.sale }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- End Expolre Product Area  -->
</main>
{% include "footer.html" %}
