{% include "header.html" %}

<main class="main-wrapper">
  <!-- Start Shop Area  -->
  <div class="axil-single-product-area bg-color-white">
    <div
      class="single-product-thumb axil-section-gap pb--20 pb_sm--0 bg-vista-white"
    >
      <div class="container">
        <div class="row row--25">
          <div class="col-lg-6 mb--40">
            <div class="h-100">
              <div class="position-sticky sticky-top">
                <div class="row row--10">
                  {% with product_images as image %}
                  <div class="col-6 mb--20">
                    <div
                      class="single-product-thumbnail axil-product thumbnail-grid"
                    >
                      <div class="thumbnail">
                        <img
                          class="img-fluid"
                          src="{{ image.image.url }}"
                          alt="{{ image.created_at }}"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- End .col -->
                  {% endwith %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb--40">
            <div class="h-100">
              <div class="position-sticky sticky-top">
                <div class="single-product-content">
                  <div class="inner">
                    <h2 class="product-title">{{product.product_name}}{{product.id}}</h2>
                    <span class="price-sale"><small>{{product.price}}₮</small></span>
                    <span class="price-amount">{{product.sale}}₮</span>
                    <div class="product-action-wrapper d-flex-center">
                      <!-- Start Product Action  -->
                      <ul class="product-action d-flex-center mb--0">
                        <li class="add-to-cart">
                          <a class="axil-btn btn-bg-primary" href="{% url 'cart_add' product.id %}">Сагсанд нэмэх</a>
                        </li>
                        <li class="wishlist">
                          <a href="wishlist.html" class="axil-btn wishlist-btn"
                            ><i class="far fa-heart"></i
                          ></a>
                        </li>
                      </ul>
                      <!-- End Product Action  -->
                    </div>
                    <div class="product-desc-wrapper pt--80 pt_sm--60">
                      <h4 class="primary-color mb--40 desc-heading">
                        Тайлбар
                      </h4>
                      <div class="single-desc mb--30">
                        <p>
                          {{product.description}}
                        </p>
                      </div>
                    </div>
                    <!-- End .product-desc-wrapper -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End .single-product-thumb -->
  </div>
  <!-- End Shop Area  -->
</main>
{% include "footer.html" %}
